/*
INSTRUÇÃO 2.
Inicialmente, todo o documento deve apresentar a cor de fonte (color) com darkslategrey, o tipo de fonte (font-family) com arial, 
sans-serif e o tamanho de fonte (font-size) com 17px.
/*estilo raiz*/
body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: darkslategray;
}

/*
INSTRUÇÃO 3.
Quanto aos títulos, o <h1> deve possuir tamanho de fonte de 30px, 
e o <h2> de 24px.
Além disso, o <h2> deve possuir a cor de plano de fundo sendo background-color: lightskyblue;
, enquanto que o <h1> deve receber uma classe chamada text-center, cujo o propósito serve apenas para deixar o texto centralizado.
*/
.text-center {
  text-align: center;
}

h1 {
  font-size: 30px;
  background-color: lightskyblue;
  color: darkblue; /*ver I4*/
}

h2 {
  font-size: 24px;
  background-color: rgb(76, 197, 228);
  color: darkblue; /*ver I4*/
}

/*
INSTRUÇÃO 4.
As cores de texto dos <h1>, <h2> e <a> devem ser darkblue, 
inclusive essa cor deve ser preservada para os hyperlinks já visitados (:visited).
*/
a,
a:link,
a:visited {
  color: darkblue;
  text-decoration: none;
}

/*
INSTRUÇÃO 5.
Os hyperlinks, sejam já acessados ou não, devem ser exibidos sem underline, 
e apenas quando o cursor do mouse estiver sobre o hyperlink é que este deverá estar com underline.
*/
a:hover {
  text-decoration: underline;
}

/*
INSTRUÇÃO 6.
Em relação aos hyperlinks subjacentes aos títulos <h1> e <h2>, visitados ou não, devem estar na cor white e lightskyblue respectivamente.
Contudo, quando o cursor do mouse estiver sobre os títulos, as cores dos hyperlinks devem ser darkblue.
*/

h1 a,
h1 a:visited {
  color: white;
}
body h2 a,
h2 a:visited {
  color: lightskyblue;
}
h1:hover a,
h2:hover a {
  color: darkblue;
}

/*
INSTRUÇÃO 7.
Por fim, faça que a mensagem de copyright no rodapé estaja em negrito e itálico, além disso o centralize usando a classe text-center.
*/
#footer {
  font-style: italic;
  font-weight: bold;
}

/*EXTRAS*/
.elon {
  color: #329640;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 1px solid #375e97;
  text-align: center;
}

.job-title {
  color: #999999;
  font-weight: bold;
}
